body {
    text-align: center;
}

.modal-content {
  top: 60px;
}

.princess {
  border: 10px solid #14b0b0;
}

.selected-lover {
  border: 10px solid #14b0b0;
}

.descript {
  text-align: left;
}

.header-color {
  background-color: #14b0b0;
  color: navy;
}

.header-grey,
#StartGameLost {
  background-color: #888;
  background-image: none;
  color: white;
}
